environment/.venv/
__pycache__/
*.py[cod]
*.nbc
*.nbi
.ipynb_checkpoints/
.env
input/literature/
output/*
!output/Source_Data/
output/Source_Data/*
!output/Source_Data/CSV/
!output/Source_Data/Source_Data_Main_Figures.xlsx
